
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="main.css">
</head>
<body>
  <fieldset>
    <h1>I bake it you take it</h1>
    <form action="/" method="POST">
      <fieldset>
        <legend>Personal information:</legend>
        <input id = "Search-input"type="text" name="query" placeholder="Search..">
        <button id = "Search-button">Search</button>
      </fieldset>
    </form>
  </fieldset>
</body>
</html>
