
<h2>We’re a family business who is honored to serve New York’s neighborhood communities. </h2>

<div class ="grid-container ">
  <a href="/cookie">
    <div class="cookie grid-item">
      <h4>Our best cookies </h4>
      <img class="homePageImg" id="cookieImg" src="images/cookie1.jpeg">
    </div>
  </a>

  <a href="/cake">
    <div class="muffin grid-item">
      <h4> Our best Cake </h4>
      <img class="homePageImg" id ="cakeImg" src="images/cake1.jpeg">
    </div>
  </a>

  <a href="/muffin">
    <div class="cake grid-item">
      <h4> Our best Muffin </h4>
      <img class="homePageImg" id ="muffinImg"src="images/muffin1.jpeg">
    </div>
  </a>

</div>
<script src="main.js"></script>
