
<!-- <div class="grid-container">
  <div class="grid-item">1</div>
  <div class="grid-item">2</div>
  <div class="grid-item">3</div>
</div>
 -->


 <!-- <fieldset> -->
   <!-- <ul class="sidenav">
     <li><a class="active" href="#home">Home</a></li>
     <li><a href="#news">News</a></li>
     <li><a href="#contact">Contact</a></li>
     <li><a href="#about">About</a></li>
   </ul> -->
   <!-- <h1>I bake it you take it</h1>
   <form action="/" method="POST">
     <fieldset>
       <legend>Personal information:</legend>
       <input id = "Search-input"type="text" name="food" placeholder="food">
       <input id = "Search-input"type="text" name="to" placeholder="# of recipies"><br>
       <button id = "Search-button">Search</button>
     </fieldset>
   </form> -->
 <!-- </fieldset> -->
 <h2>We’re a family business who is honored to serve New York’s neighborhood communities. </h2>
 <div class ="grid-container ">
   <a href="/cookie">
     <div class="cookie grid-item">


       <h4>Our best cookies </h4>
       <img class="homePageImg" src="cookie1.jpeg">


     </div>
   </a>
   <a href="/cake">

     <div class="muffin grid-item">


       <h4> Our best Cake </h4>
       <img class="homePageImg" src="cake1.jpeg">


     </div>

   </a>
   <a href="/muffin">
     <div class="cake grid-item">


       <h4> Our best Muffin </h4>
       <img class="homePageImg" src="muffin2.jpeg">


     </div>

   </a>

 </div>
