<% if (!(@arr.nil?)) %>
<div class="grid-container">
  <% @arr.each do |x| %>
  <div class="grid-item">
    <p> <%= x.name %> </p>
    <img  class="foodIcon"src ="<%= x.img%>">
    <% x.ingredientLines.each do |y| %>
    <p><%= y %></p>
    <% end %>
  </div>
  <% end %>

</div>
<% end %>
