body {
  background-color: #fcf1e1;
  margin:0;
}

* {
  font-family: bakery;
}

/* styling the form */
form > * {
  text-align: center;
}
h1 {
  text-align: center;
}
#Search-input{
  border-radius: 5px;
  width: 50%;
}
#Search-button{
  background-color: #8e7136;
  width: 10%;
  height:30px;
  border-radius: 5px;
  color: white;
  text-align: center;
  font-size: 16px;
  border: 2px solid #9e5446;

}


/* Hher the bakery fonts*/
@font-face {
  font-family: bakery;
  src: url(bakeryFonts/bakery.ttf);

}
