body {
  background-color: #fcf1e1;
  margin:0;
}

* {
  font-family: sans-serif;
  /* font-family: bakery; */
}

/* styling the form */
form > * {
  text-align: center;
}
h1 {
  text-align: center;
}
#Search-input{
  border-radius: 5px;
  width: 50%;

}

#Search-button:hover {
  border-style: outset;
}

#Search-button{
  background-color: #8e7136;
  width: 10%;
  height:30px;
  border-radius: 5px;
  color: white;
  text-align: center;
  font-size: 16px;
  /* border: 2px solid #9e5446; */
  border: 2%;
  cursor: pointer;
 border-style: inset;


}


/* Hher the bakery fonts*/
@font-face {
  font-family: sans-serif;
  src: url(bakeryFonts/bakery.ttf);

}

/*the dives that hold the info */
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 5px;
  /* background-color: #2196F3; */
  padding: 10px;

}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border-style: ridge;
  border: 1%;
  border-radius: 25px;
  font-size: 30px;
  text-align: center;

}
.grid-item > *{
    margin: 0;
}
.grid-item:hover {
  border-style: groove;
}
